// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$gray: #ee2929;

body {
  background: $gray;
}

a {
  color: rgb(69, 44, 138);
  &:hover {
    color: black;
  }
}
